<!DOCTYPE html>
<html>

<head>
  <title>Edit Product</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
</head>

<body>
  <h1>Editar Producto</h1>
  <form action="/products/<%= product.id %>?_method=PATCH" method="post">
    <input type="hidden" name="_method" value="patch" />
    <label for="id">ID:</label>
    <input type="number" id="id" name="id" value="<%= product.id %>" required readonly />
    <label for="codigo">Código:</label>
    <input type="number" id="codigo" name="codigo" value="<%= product.codigo %>" required />
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" value="<%= product.nombre %>" required />
    <label for="precio">Precio:</label>
    <input type="number" step="0.01" id="precio" name="precio" value="<%= product.precio %>" required />
    <label for="categoria">Categoría:</label>
    <input type="text" id="categoria" name="categoria" value="<%= product.categoria %>" required />
    <button type="submit">Actualizar producto</button>
  </form>
  <a href="/products">Regresar a Productos</a>
</body>

</html>