<!DOCTYPE html>
<html>

<head>
  <title>Products</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
</head>

<body>
  <h1>Listado de Productos:</h1>

  <form action="/product/add" method="get">
    <button type="submit">Agregar nuevo producto</button>
    </a>
  </form>

  <ul>
    <% products.forEach(function(product) { %>
      <li>
        ID:
        <a href="/products/<%= product.id %>">
          <%=product.id%>
        </a>
        Nombre:
        <a href="/products/<%= product.id %>">
          <%=product.nombre%>
        </a>

        <form action="/products/<%= product.id %>?_method=DELETE" method="post" style="display: inline">
          <input type="hidden" name="_method" value="delete" />

          <button type="submit">Borrar</button>
        </form>
        <a href="/products/edit/<%= product.id %>">
          <button type="submit">Editar</button>
        </a>
      </li>
      <% }); %>
  </ul>
</body>

</html>