<!DOCTYPE html>
<html>

<head>
  <title>
    <%= product.nombre %>
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
</head>

<body>
  <h1>Product Details</h1>
  <p>
    <strong>ID:</strong>
    <%= product.id %>
  </p>
  <p>
    <strong>Codigo:</strong>
    <%= product.codigo %>
  </p>
  <p>
    <strong>nombre:</strong>
    <%= product.nombre %>
  </p>
  <p>
    <strong>Precio:</strong>
    <%= product.precio %>
  </p>
  <p>
    <strong>categoria:</strong>
    <%= product.categoria %>
  </p>
  <a href="/products/edit/<%= product.id %>">Editar</a>
  <form action="/products/<%= product.id %>?_method=DELETE" method="post" style="display: inline">
    <input type="hidden" name="_method" value="delete" />
    <button type="submit">Borrar</button>
  </form>
  <a href="/products">Volver a Productos</a>
</body>

</html>